
<!--
	ViewStart file viewların başlangıç dosyasıdır. bu dosyada yapılan büyün c# ve html komutları diğer viewlara yansır...
-->
@{
	Layout = "~/Views/Shared/_Sablon.cshtml";
}

@*
	bu html bütün  viewlarda olacaktır...	
<div id="message">
</div>
*@