@{
	//Layout = "~/Views/Shared/_Sablon.cshtml"; // layout ayarlaması view start dosyasından yapıldı....
}

<h1>ben about sayfası...</h1>




<!--
	section => Layout pagelerde render edilmesi için oluşturulan alanladır...
-->

@section MySection{

	<div id="sol">
		ben about indexinin özelliştirilmiş bölgesiyim...
	</div>


}